{{ define "main" -}}
<div class="page__content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                    
                
                <hr class="horizontal-rule" />
                <div class="posts">
                    {{ range .Data.Pages -}}
                    <div class="">
                        <h1 class="heading heading--level4 margin-none"><a href="{{ .Permalink }}" class="text-link">{{ .Title }}</a></h1>
                        {{ .Summary }}
                    </div>
                {{- end }}
                </div>
            </div>
        </div>
    </div>
</div>
{{- end }}