/*
 *  __                  __
 * /\ \                /\ \
 * \ \ \___   __  __   \_\ \     __
 *  \ \  _ `\/\ \/\ \  /'_` \  /'__`\
 *   \ \ \ \ \ \ \_\ \/\ \_\ \/\  __/
 *    \ \_\ \_\/`____ \ \___,_\ \____\
 *     \/_/\/_/`/___/> \/__,_ /\/____/
 *                /\___/
 *                \/__/
 *
 * Designed, built, and released under MIT license by @mdo. Learn more at
 * https://github.com/poole/hyde.
 */




.example {
  position: relative;
  clear: both;
  border: 2px solid #2d2d2d;
  padding: 15px;
  top: 22px;
}

.example:before {
  display: block;
  content: 'EXAMPLE';
  position: absolute;
  color: lightgray;
  top: -30px;
  left: 0px;
  font-family: FFDINCondensedBlack,Helvetica,Arial,sans-serif;
  font-size: 20px;
}

pre {
  position: relative;
  margin:0;
}

.library-header {
  margin-top: 30px;
}

/*
 * Sidebar
 *
 * Flexible banner for housing site name, intro, and "footer" content. Starts
 * out above content in mobile and later moves to the side with wider viewports.
 */

.lib-slide-menu {
  position: fixed;
  top: 0;
  left: -320px;
  height: 100vh;
  opacity: 0;
  width: 320px;
  overflow: hidden;
  background-color: #212121;
  transition: 0.3s;
  z-index: 111;
}
@media (min-width: 768px) {
  .lib-slide-menu {
    position: fixed;
    top: 0;
    left: 0 !important;
    bottom: 0;
    width: 240px;
    transition: 0s;
    opacity: 1 !important;
  }
}


.lib-slide-menu__about {
  padding: 20px 10px;
}

.lib-mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
   background-color:#212121;
   padding: 10px;
   opacity: 1;
   z-index: 110;
}
@media (min-width: 768px) {

  .lib-mobile-menu {
    opacity: 0;
  }
}


/* Sticky sidebar
 *
 * Add the `sidebar-sticky` class to the sidebar's container to affix it the
 * contents to the bottom of the sidebar in tablets and up.
 */


 .sidebar-sticky {
  max-width: 50rem;
  margin-left:  auto;
  margin-right: auto;
  padding-bottom: 15px;
}

@media (min-width: 768px) {
  .sidebar-sticky {
    position: absolute;
    right:  15px;
    top: 15px;
    left:   15px;
  }
}

@media (min-width: 768px) {
  .content {
    max-width: 100rem;
    margin-left: 24rem;
    margin-right: 2rem;
  }
}

@media (min-width: 768px) {
  .content {
    margin-left: 26rem;
    margin-right: 4rem;
  }
}

