/*
 * Legal Disclaimer
 *
 * These Fonts are licensed only for use on these domains and their subdomains:
 * puregym.com
 *
 * It is illegal to download or use them on other websites.
 *
 * While the @font-face statements below may be modified by the client, this
 * disclaimer may not be removed.
 *
 * Lineto.com, 2014
 */

/**
 * @license
 * MyFonts Webfont Build ID 3494142, 2017-12-07T09:57:05-0500
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed Webfonts(s).
 * 
 * You may obtain a valid license at the URLs below.
 * 
 * Webfont: FF DIN Web Pro Condensed Black by FontFont
 * URL: https://www.myfonts.com/fonts/fontfont/ff-din/pro-cond-black/
 * Copyright: 2016 published by Monotype GmbH
 * Licensed pageviews: 50,000
 * 
 * 
 * License: https://www.myfonts.com/viewlicense?type=web&buildid=3494142
 * 
 * © 2017 MyFonts Inc
*/

/* @import must be at top of file, otherwise CSS will not work */
@import url("//hello.myfonts.net/count/3550fe");

@font-face {
    font-family: 'FFDINCondensedBlack';
    src: url('3550FE_0_0.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Typ1451-Regular';
    src: url('lineto-typ1451-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Typ1451-Medium';
    src: url('lineto-typ1451-medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Typ1451-Bold';
    src: url('lineto-typ1451-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pureicon';
    src: url('pureicon3.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

