{{ partial "head.html" . }}
  <body class="page">
  {{ partial "sidebar.html" . }}
    <main class="content hyde-container">
    {{ block "main" . -}}{{- end }}
    </main>

    {{ template "_internal/google_analytics_async.html" . }}
    {{ partial "hook_end.html" . }}
 
  </body>
</html>
