{{ define "main" -}}
<script src="{{ .Site.BaseURL }}scripts/prism.js"></script>
<div class="">
    <div class="page__content">
        <div class="container-fluid">
                <div class="row">
                        <div class="col-xs-12">
                            <h2 class="heading heading--display2">{{ .Title }}</h2>
                            <hr class="horizontal-rule" />
                        </div>
                    </div>
            <div class="row">
                <div class="col-xs-12">
                    {{ .Content }}
                </div>
            </div>
        </div>
    </div>
</div>

{{ if .Site.DisqusShortname -}}
<h2>Comments</h2>
{{ template "_internal/disqus.html" . }}
{{- end }}
{{- end }}