<link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet">
<link rel="prefetch" crossorigin="anonymous" as="font" type="font/woff" href="//we-content-cdn.puregym.com/fonts/3550FE_0_0.woff">
<style type="text/css">
    @font-face {
        font-family: 'FFDINCondensedBlack';
        src: url('//we-content-cdn.puregym.com/fonts/3550FE_0_0.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }
    @font-face {
        font-family: 'pureicon';
        src: url('//we-content-cdn.puregym.com/fonts/pureicon3.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }
</style>