
<script src="{{ .Site.BaseURL }}scripts/svg4everybody.min.js"></script>
<script>
    svg4everybody();
</script>

<script type="text/javascript">
var _userway_config = {
/* uncomment the following line to override default position*/
/* position: '2', */
/* uncomment the following line to override default size (values: small, large)*/
/* size: 'small', */
/* uncomment the following line to override default language (e.g., fr, de, es, he, nl, etc.)*/
/* language: 'en-US', */
/* uncomment the following line to override color set via widget (e.g., #053f67)*/
/* color: '#053f67', */
/* uncomment the following line to override type set via widget(1=person, 2=chair, 3=eye)*/
/* type: '3', */
/* uncomment the following line to override support on mobile devices*/
/* mobile: true, */
account: '6fFkOoOyTY'
};
</script>
<script type="text/javascript" src="https://cdn.userway.org/widget.js"></script>
