<script type="text/javascript">
      function toggle_visibility(id) {
          var e = document.getElementById(id);
          var f = document.getElementById('slide-menu-cover');
          if (e.style.opacity == '1', f.style.opacity == '1')
              e.style.opacity = '0',
              e.style.left = '-320px',
              f.style.opacity = '0',
              f.style.width = '0',
              f.style.height = '0';
          else
              e.style.opacity = '1',
              e.style.left = '0',
              f.style.opacity = '1',
              f.style.width = '100%',
              f.style.height = '100%';
      }
</script>
<a onclick="toggle_visibility('dropdown-box');" href="#" id="slide-menu-cover" rel="nofollow" class="slide-menu-cover hidden-sm hidden-md hidden-lg"></a>

<nav class="lib-slide-menu" id="dropdown-box" itemscope="" itemtype="http://schema.org/SiteNavigationElement">
  <div class="slide-menu__content">
      <div class="col-xs-12">
          <button onclick="toggle_visibility('dropdown-box');" id="first-link" class="slide-menu__close hidden-sm hidden-md hidden-lg">Close</button>
          <div class="lib-slide-menu__about">
              <a class="text-link" href="{{ .Site.BaseURL }}">
                <svg class="logo__graphic" title="PureGym" role="img" style="
                width:140px;
                height:70px;
                margin-bottom:10px;">
                    <use xlink:href="{{ .Site.BaseURL }}svg/svg.svg#logo-puregym" />
                </svg>
                <h1 class="heading heading--level4 primary-color">{{ .Site.Title }}</h1></a>
              <p class="lead">
              {{ with .Site.Params.description }} {{.}} {{ else }}{{end}}
              </p>
          </div>
          <ul class="menu margin-bottom">
            {{ range .Site.Menus.secondary -}}
            <li class="menu__item menu__item--block"><a class="menu__link menu__link--secondary" href="{{.URL}}"> {{ .Name }} </a></li>
            {{- end }}
          </ul>
          <hr class="horizontal-rule" style="border-bottom-color:#555555;">
          <ul class="menu margin-bottom">
            {{ range .Site.Menus.main -}}
            <li class="menu__item menu__item--block"><a class="menu__link menu__link--secondary" href="{{.URL}}"> {{ .Name }} </a></li>
            {{- end }}
          </ul>   
      </div>
  </div>
</nav>

<div class="lib-mobile-menu"><a class="top-nav__link" onclick="toggle_visibility('dropdown-box');"><span class="top-nav__text">Menu</span></a></div>